<div class="row text-left">
  <!--Tabset Starts-->
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Data Pegawai</h4>
      </div>
      <div class="card-content">
        <div class="card-body">
          <tabset #staticTabs>
            <tab heading="Detail">
              <div class="row">
                <div class="col-12 mb-2">
                  <label for="floatEmail">NIK</label>
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">00000000000</div>
                </div>
                <div class="col-12 mb-2">
                  <label for="floatEmail">Nama</label>
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">Gigih Santoso</div>
                </div>
                <div class="col-12 mb-2">
                  <label for="floatEmail">No Identitas</label>   
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">2372947927973317</div>
                </div>
                <div class="col-12 mb-2">
                  <label for="floatEmail">Email</label>
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">gigih985042@gmail.com</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mb-2">
                  <label for="floatEmail">Divsi</label>
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">IT</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mb-2">
                  <label for="floatEmail">Jabatan</label>
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">Staff IT</div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mb-2">
                  <label for="floatEmail">Bagian</label>
                  <div class="border pl-2 pt-1 pb-1 pr-1 rounded">Developer</div>
                </div>
              </div>
            </tab>
            <tab heading="Reimbursment">
              <app-view-reimbursement></app-view-reimbursement>
            </tab>
            <tab heading="Punisment">
              <app-view-punisment></app-view-punisment>
            </tab>
            <tab heading="Reward">
              <app-view-reward></app-view-reward>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
  <!--Tabset Ends-->
</div>
