.customizer {
    width: 400px;
    right: -400px;
    padding: 0;
    background-color: #FFF;
    z-index: 1051;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    backface-visibility: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
  .customizer.open {
    right: 0;
  }
  .customizer .customizer-content {
    position: relative;
    height: 100%;
  }
  .customizer a.customizer-toggle {
    background: #FFF;
    color: theme-color("primary");
    display: block;
    box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1);
  }
  .customizer a.customizer-close {
    color: #000;
  }
  .customizer .customizer-close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 7px;
    width: auto;
    z-index: 10;
  }
  .customizer #rtl-icon {
    position: absolute;
    right: -1px;
    top: 35%;
    width: 54px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    margin-top: 50px;
  }
  .customizer .customizer-toggle {
    position: absolute;
    top: 35%;
    width: 54px;
    height: 50px;
    left: -54px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }
  .customizer .color-options a {
    white-space: pre;
  }
  .customizer .cz-bg-color {
    margin: 0 auto;
  }
  .customizer .cz-bg-color span:hover {
    cursor: pointer;
  }
  .customizer .cz-bg-color span.white {
    color: #ddd !important;
  }
  .customizer .cz-bg-color .selected,
  .customizer .cz-tl-bg-color .selected {
    box-shadow: 0 0 10px 3px #009da0;
    border: 3px solid #fff;
  }
  .customizer .cz-bg-image:hover {
    cursor: pointer;
  }
  .customizer .cz-bg-image img.rounded {
    border-radius: 1rem !important;
    border: 2px solid #e6e6e6;
    height: 100px;
    width: 50px;
  }
  .customizer .cz-bg-image img.rounded.selected {
    border: 2px solid #FF586B;
  }
  .customizer .tl-color-options {
    display: none;
  }
  .customizer .cz-tl-bg-image img.rounded {
    border-radius: 1rem !important;
    border: 2px solid #e6e6e6;
    height: 100px;
    width: 70px;
  }
  .customizer .cz-tl-bg-image img.rounded.selected {
    border: 2px solid #FF586B;
  }
  .customizer .cz-tl-bg-image img.rounded:hover {
    cursor: pointer;
  }
  .customizer .bg-hibiscus {
    background-image: linear-gradient(to right bottom, #f05f57, #c83d5c, #99245a, #671351, #360940);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s;
  }
  .customizer .bg-purple-pizzazz {
    background-image: linear-gradient(to right bottom, #662d86, #8b2a8a, #ae2389, #cf1d83, #ed1e79);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s;
  }
  .customizer .bg-blue-lagoon {
    background-image: linear-gradient(to right bottom, #144e68, #006d83, #008d92, #00ad91, #57ca85);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s;
  }
  .customizer .bg-electric-violet {
    background-image: linear-gradient(to left top, #4a00e0, #600de0, #7119e1, #8023e1, #8e2de2);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s;
  }
  .customizer .bg-portage {
    background-image: linear-gradient(to left top, #97abff, #798ce5, #5b6ecb, #3b51b1, #123597);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s;
  }
  .customizer .bg-tundora {
    background-image: linear-gradient(to left top, #474747, #4a4a4a, #4c4d4d, #4f5050, #525352);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.3s;
  }
  .customizer .cz-bg-color .col span.rounded-circle:hover,
  .customizer .cz-tl-bg-color .col span.rounded-circle:hover {
    cursor: pointer;
  }
  
  [dir=rtl] :host ::ng-deep .customizer {
    left: -400px;
    right: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 0px;
  }
  [dir=rtl] :host ::ng-deep .customizer.open {
    left: 0;
    right: auto;
  }
  [dir=rtl] :host ::ng-deep .customizer .customizer-close {
    left: 10px;
    right: auto;
  }
  [dir=rtl] :host ::ng-deep .customizer .customizer-toggle {
    right: -54px;
    left: auto;
  }