<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <div class="px-3">
            <div class="row">
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-md-4 label-control" for="projectinput1">PIHAK 1: </label>
                  <div class="col-8 mb-2">
                    <select class="form-control" [(ngModel)]="formKontrakKerja.idPihakOne" #idPihakOne="ngModel"
                      id="idPihakOne" name="idPihakOne" required>
                      <option value="approved" selected>Approved</option>
                      <option value="declined">Desclined</option>
                      <option value="pending">Pending</option>
                    </select>
                    <small class="form-text text-muted danger"
                      *ngIf="!idPihakOne.valid && (idPihakOne.dirty || idPihakOne.touched)">Silahkan
                      Pilih Pihak 1</small>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group row">
                  <label class="col-md-4 label-control" for="projectinput1">PIHAK 2: </label>
                  <div class="col-md-8 mb-2">
                    <div class="border pl-2 pt-1 pb-1 pr-1 rounded">Gigih Santoso</div>
                  </div>
                  <label class="col-md-4 label-control" for="projectinput1"></label>
                  <div class="col-md-8 mb-2">
                    <div class="border pl-2 pt-1 pb-1 pr-1 rounded">Jalan Pendidka 1</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-left">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-10 text-left">
            <h4 class="card-title">Perjanjian Kerja</h4>
          </div>
        </div>
      </div>
      <div class="card-content">
        <div class="card-body">
          <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [scrollbarV]="false" [scrollbarH]="false"
            [selected]="selected" [selectionType]="SelectionType.checkbox" (select)="onSelect($event)" (activate)="onActivate($event)">
            <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
              [resizeable]="false">
              <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                let-selectFn="selectFn">
                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
                let-onCheckboxChangeFn="onCheckboxChangeFn">
                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PASAL" sortable="false" prop="branch">
              <ng-template let-row="rows" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Deskription" sortable="false" prop="divisi">
              <ng-template let-row="rows" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <span>{{value}}</span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" sortable="false" prop="id">
              <ng-template let-row="data" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <a class="p-0" data-original-title="" title="" (click)="openModalApproval(value, $event, content)">
                  <i class="ft-eye  font-medium-3 mr-2"></i>
                </a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Penjelasan Pasal</h4>
    <button type="button" class="close" (click)="d('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <form class="form" #f="ngForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
      <button type="button" class="btn btn-danger btn-raised" (click)="c('Close click')"
        [disabled]="!f.valid">Process</button>
    </div>
  </form>
</ng-template>
