#forgot-password .forgot-password-bg {
    background-image: url("../../../assets/img/gallery/light-bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  #forgot-password .fg-image {
    padding: 0;
    background: #f0f0f0;
  }
  #forgot-password .login-btn .btn.btn-outline-primary:hover a {
    color: #fff;
  }
  #forgot-password .recover-pass button.btn.btn-primary {
    color: #fff !important;
  }